*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
}
ul li {
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
p{
    color: black;
    font-size: clamp(1rem, 1vw , 1.125rem);
    font-weight: 400;
    
}